/****** GENERICS ******/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/****** UTILITY ******/
.flex{
    display: flex;
}

.direction{
    flex-direction: column;
}

.bg_dark{
    background-color: rgb(43, 38, 61);
}

.bg_dark_grey{
    background-color: rgb(62, 59, 80);
}

.debug{
    border-bottom: 3px solid;
    width: 10%;
}

.debug_form{
    border-bottom: 1px solid gray;
}

.black{
    color: black;
}

.green{
    color: rgb(16, 177, 123);
}

.padding_50{
    padding: 50px 0;
}

/****** HEADER ******/
.logo{
    font-size: 1.3rem;
    margin: revert;
}

#menu{
    font-size: 0.8rem;
    line-height: 50px;
}

#menu>span{
    margin: 0 5px;
}

/****** MAIN ******/
/* section-profile */
.bg_aquamarine{
    background-color: rgb(16, 177, 123);
}

.avatar{
    width: 250px;
}

#title{
    font-size: 3rem;
}

.star{
    margin: 0 20px;
}

/* section-portfolio */
.portfolio_img{
    width: 100%;
    border-radius: 5%;
}

/* section-about */
.btn-outline-primary{
    color: white;
    border-color: white;
}

/* section-contact */
.form-group{
    width: 100%;
}

.form-control{
    border: 0;
    border-bottom: 1px solid grey;
    width: 60%;
    margin: 0 auto;
}

.btn-success {
    color: #fff;
    background-color: rgb(16, 177, 123);
    border-color: rgb(16, 177, 123);
    margin: 0 auto;
}

/****** FOOTER ******/
/* footer_top */
.footer_top i{
    border: 2px solid white;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 3px; 
    font-size: medium;
}

/* footer_bottom */
.footer_bottom p{
    font-size: small;
    margin: revert;
}